<!DOCTYPE html>
<html>
<head>
    {{> head.hbs}}
</head>
<body>
  <main>
      {{> header.hbs}}
      <section class="main-project">
      	<div class="title sticky">
	      	<p>{{date}} - <span>{{projet}}</span></p>
	    	<div class="nav">
	      	{{#if previousProject}}<a href='{{previousProject.route}}' id="previous"><&nbsp;&nbsp;</a>{{/if}}
          {{#if nextProject}}<a href='{{nextProject.route}}' id="next">&nbsp;&nbsp;></a>{{/if}}
	    	</div>
      	</div>
        <div class="preview">
        	{{{preview}}}
        </div>
        <section class="description">
        	<h5>Projet</h5>
        	{{{content}}}
        	<h5>Technologies</h5>
        	{{{technologies}}}
        	<h5>Liens et collaborateurs</h5>
        	{{{liens}}}
        </section>
        <section class="project-images">
        	{{{images}}}
        </section>
      </section>
      {{> footer.hbs}}
  </main>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.js"></script>
  <script src="stickyfill.min.js"></script>
  <script src="bundle-{{compiler.hash}}.js"></script>
</body>
</html>