<!DOCTYPE html>
<html>
<head>
    {{> head.hbs}}
</head>
<body>
  <main>
      {{> header.hbs}}
      <section class="main-project">
      	<div class="title sticky">
	      	<h2>{{date}} - <span>{{projet}}</span></h2>
	    	<div class="nav">
	      	<a href='#'><&nbsp;&nbsp;</a><a href='#'>&nbsp;&nbsp;></a>
	    	</div>
      	</div>
        <div class="preview">
        	<img>
        </div>
        <section class="description">
        	<h5>Projet</h5>
        	{{{content}}}
        	<h5>Technologies</h5>
        	{{{technologies}}}
        	<h5>Liens et collaborateurs</h5>
        	{{{liens}}}
        </section>
        <section class="project-images">
        	<img src="#" alt="eyebro-1">
        	<img src="#" alt="eyebro-2">
        	<img src="#" alt="eyebro-3">
        </section>
      </section>
      {{> footer.hbs}}
  </main>
<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 -->  <script src="stickyfill.js"></script>
  <script src="stickyfill.min.js"></script>
  <script src="bundle-{{compiler.hash}}.js"></script>
</body>
</html>